---
---

<link rel="stylesheet" href="/css/footer.css" />
<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__col">
      <div class="site-footer__brand">ringova.com</div>
      <p class="site-footer__text">
        Техническая документация, процессы и команды, которые умеют работать с текстами.
      </p>
    </div>

    <div class="site-footer__col">
      <h3 class="site-footer__heading">Контакты</h3>
      <ul class="site-footer__list">
        <li><a href="https://t.me/ushkatia">Telegram @ushkatia</a></li>
        <li><a href="mailto:katerynaush@ya.ru">katerynaush@ya.ru</a></li>
      </ul>
    </div>

    <div class="site-footer__col">
      <h3 class="site-footer__heading">Проекты</h3>
      <ul class="site-footer__list">
        <li><a href="https://t.me/ringova">Канал @ringova</a></li>
        <li><a href="https://writeconf.ru/">Конференция WriteConf</a></li>
        <li><a href="https://tcit.ringova.com/">Курс по техкоммуникациям</a></li>
      </ul>
    </div>
  </div>
</footer>

